.main-body{
    width:90vw;
    margin:0vw 5vw;
    font-size:2.5vh;
    line-height: 1.5;
}
h2{
    font-size:175%;
    text-align:center;
}
.card{
	background-color:rgba(84,11,14,1);
	box-shadow:0vh 0vh 2vh rgba(0,0,0,0.5);
	margin-bottom: 2vh;
	text-align: center;
	padding: 1vmin 0vh ;
	width:25vw;
  display:inline-block;
  margin-top:5vmin;
}
h3{
  font-size:150%;
}
.outer-img{
	width:23vw;
	height:23vw;
	object-fit: cover;
  object-position: center;
	border-radius: 10%;
	border:2.5px solid #e09f3e;
	box-shadow:0.2vh 0.2vh 1vh rgba(0,0,0,1);
	
} 
.overview{
  text-align:justify;
}
.card p{
  color:white;
  margin:0;
  font-size:150%;
}
.card a{
	color:white;
	text-decoration:none;
}
  ul li a {
	width: 5vh;
	height: 5vh;
	background-color: #fff;
	text-align: center;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
    border: 3px solid #fff;
  }
  ul {
	display: flex;
	justify-content: space-evenly;
	width:100%;
	padding-inline-start:0px;
  text-shadow:initial;
  align-items: center;
  margin:0;
  }
  ul li{
	  list-style: none;
	  
  }
  ul li a i {
	margin-top:0.8vh;
	color: #262626;
	transition: .5s;
  }
  
  ul li a:hover i {
	color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgb(221, 75, 57);
    transition: .5s;
  }
  
  ul li a:hover:before {
	top: 0;
  }
  
  ul li:nth-child(1) a:before{
	background: rgb(0, 119, 181);
  }
  
  ul li:nth-child(2) a:before{
	background:rgb(0, 119, 181) ;
  }
  .readmore{
      background-color: #e09f3e;
      color:#540b0e;
      border-radius:2vh;
      margin:1vmin;
      border:2px solid #e09f3e ;
      height:5vh;
      outline: none;
      text-transform: uppercase;
  }
  .box {
    display: none; 
    position: fixed;
    z-index:3;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    text-align:initial;
  }
  .box-content {
    background-color: white;
    box-shadow: 2px 2px black;
    width: 60vw;
    color:black !important;
    max-height:80vh;
    overflow: auto;
    padding:7vmin 2vmax;
    z-index:3;
  }
  .close {
    color:#540b0e;
    float: right;
    font-weight: bold;
    transform:translate(1vmax ,-5vmin);
    font-size:130%;
  }
  .box span{
      line-height:1.5;
      text-align: justify;
      display: block;
  }
  .text{
    margin-bottom:2vmin;
    min-height:25vw;
    justify-content: center;
    vertical-align: middle;
  }
.inner-img{
  float:left;
  margin:0vmin 5vmin;
  width:25vw;
	height:25vw;
	object-fit: cover;
  object-position: center;
	border-radius: 10%;
	border:5px solid #e09f3e;
	box-shadow:0.2vh 0.2vh 1vh rgba(0,0,0,1);
}
.text a{
  text-shadow: 0.3px 0.3px black;
    color:#540b0e;
    text-decoration:none;
}
h4{
  font-size:150%;
  text-align: center;
  margin-bottom: 1vmin;
  text-decoration: underline;
}
.position{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width:60vw;
  margin-left:auto;
  margin-right:auto;
}
.mySlider img{
  width:90vw;
}
.slick-prev:before, .slick-next:before{
  color: rgba(0,0,0,0.5) !important;
}
.slick-prev{
  margin-right:7vw;
}
@media screen and (max-width:1200px){
    .main-body{
        width:90vw;
        margin:5vw;
        font-size:2.8vw;
    }
    .card{
		width:90vw;
    }
    .box-content{
        width:90vw;
    }
    .outer-img{
      width:80vw;
      height:80vw;
    }
    .inner-img{
      width:70vw;
      height:70vw;
      float: initial;
      margin-left:10vw;
      border:10px solid #e09f3e;
      
    }
    .readmore{
      font-size:2.4vh;
    }
    ul li a{
      width:5vh;
      height:5vh;
      font-size:2.4vh;
    }
    .position{
      width:90vw;
    }
    .text{
      font-size:5vw;
    }
    .close{
      font-size:6vw;
    }
}