.main-body{
    width:90vw;
    margin:0vw 5vw;
    font-size:2.5vh;
    line-height: 1.5;
}
h2{
    font-size:175%;
    text-align:center;
}
.card{
	background-color:rgba(0,0,0,0.7);
	box-shadow:0vh 0vh 2vh rgba(0,0,0,0.5);
	margin-bottom: 2vh;
	text-align: center;
	padding: 1vmin 0vh ;
	width:25vw;
  display:inline-block;
  margin-top:5vmin;
}
.outer-img{
	width:23vw;
	height:23vw;
	object-fit: cover;
  object-position: center;
	border-radius: 10%;
	border:1px solid white;
	box-shadow:0.2vh 0.2vh 1vh rgba(0,0,0,1);
	
} 
.card p{
  color:white;
  margin:0;
}
.card a{
	color:white;
	text-decoration:none;
}
  ul li a {
	width: 5vh;
	height: 5vh;
	background-color: #fff;
	text-align: center;
	font-size: 2.6vh;
	display: block;
	border-radius: 50%;
	position: relative;
	overflow: hidden;
    border: 3px solid #fff;
  }
  ul {
	display: flex;
	justify-content: space-evenly;
	width:100%;
	padding-inline-start:0px;
  text-shadow:initial;
  align-items: center;
  margin:0;
  }
  ul li{
	  list-style: none;
	  
  }
  ul li a i {
	margin-top:0.8vh;
	color: #262626;
	transition: .5s;
  }
  
  ul li a:hover i {
	color: #fff;
    transform: rotateY(360deg);
  }
  
  ul li a:before {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background: #f00;
    transition: .5s;
  }
  
  ul li a:hover:before {
	top: 0;
  }
  
  ul li:nth-child(1) a:before{
	background: #0077b5;
  }
  
  ul li:nth-child(2) a:before{
	background:#dd4b39 ;
  }
  .readmore{
      background-color: rgba(0, 123, 255,0.5);
      color:white;
      font-size:2.5vh;
      border-radius:2vh;
      margin:1vmin;
      border:2px solid rgba(0, 123, 255,0.5) ;
      height:5vh;
  }
  .box {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
    text-align:initial;
  }
  .box-content {
    background-color: white;
    box-shadow: 2px 2px black;
    width: 60vw;
    color:black !important;
    max-height:80vh;
    overflow: auto;
    padding:7vmin 2vmax;
  }
  .close {
    color:rgba(0, 123, 255,1);
    float: right;
    font-weight: bold;
    transform:translateY(-6vmin);
    height:7vmin;
    display: flex;
  }
  .box span{
      display:block;
      line-height:1.5;
  }
  .text{
    margin-bottom:2vmin;
  }
.inner-img{
  float:left;
  margin:5vmin;
  width:25vw;
	height:25vw;
	object-fit: cover;
  object-position: center;
	border-radius: 10%;
	border:1px solid white;
	box-shadow:0.2vh 0.2vh 1vh rgba(0,0,0,1);
}
@media screen and (max-width:1200px){
    .main-body{
        font-size:2.7vw;
        width:95vw;
    }
    .card{
		width:70vw;
		margin-left:10vw;
    }
    .box-content{
        width:90vw;
    }
    .outer-img{
      width:60vw;
      height:60vw;
    }
    .inner-img{
      width:70vw;
      height:70vw;
      float: initial;
      margin-left:10vw;
    }
    .readmore{
      font-size:2.4vh;
    }
    ul li a{
      width:5vh;
	    height:5vh;
    }
}