article{
    width:40vw;
    font-size:2.3vh;
    margin:2vw;
    text-align:justify;
    line-height: 1.5;
}
.main-body{
    min-height:80vh;
    display: flex;
    flex-direction:row-reverse;
    justify-content: flex-end;
    align-items: center;
}
.read{
    color:black;
    text-decoration:none;
    font-weight:600;
}
.read:hover{
    text-decoration:underline;
}
.mainphoto{
    height:60vh;
    width:60vh;
    border-radius:50%;
    object-position: top;
    object-fit: cover;
    margin:10vh 5vw 10vh 15vw;
  }
article a{
    color:rgb(44, 110, 119);
    text-decoration:none;
}
h1{
    padding-bottom:0.5vh;
    margin-bottom: 0vh;
    font-size:6.5vmin;
    line-height: 1;
}
h3{
    padding-top:0;
    margin-top:0;
    font-size:3vmin;
    padding-bottom:2vh;
}
@media screen and (max-width:1200px){
    article{
        width:80vw;
        font-size:3vw;
    }
    .main-body{
        display: flex;
        flex-direction:column-reverse;
        justify-content: flex-end;
        align-items: center;
        width:100vw;;
    }
    .mainphoto{
        width:70vw;
        height:70vw;
        object-position: top;
        object-fit: cover;
        margin:5vh 15vw 0vh 15vw;
      }
      h1{
        padding-bottom:0.5vh;
        margin-bottom: 0vh;
        font-size:9vmin;
        margin-top:2vh;
    }
    h3{
        padding-top:0;
        margin-top:0;
        font-size:4vmin;
        margin-bottom: 2vh;
    }
}