body{
    overflow-x:hidden;
}
.main-body{
    width:90vw;
    margin:0vw 5vw;
    font-size:2.5vh;
}
h2{
    font-size:175%;
    text-align:center;
}
h3{
    font-size:125%;
}
li a{
    font-weight: 600;
    color:#540b0e;
    text-decoration:none;
}
li{
    margin:3vmin 0vmin;
    line-height:2;
}
.text a{
    color:#540b0e;
    text-decoration:none;
    font-weight: 600;
}
.text{
    padding-top:2vh;
    line-height:2;
    display:block;
}
.book{
    height: 15vh;
    margin:0vh 2vw;
    float:left;
}
.booktext{
    display: block;
    min-height: 18vh;
}
.aicon{
    height:5vmin;
    position: relative;
    top:2vmin;
}
@media screen and (max-width:1200px){
    .book{
        width:30vw;
        margin:0vh 2vw;
        height: initial; 
        float:left;   
    }
    .main-body{
        font-size:2.7vw;
    }
    .aicon{
        height:6vmin;
    }
    }